DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://example.com'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Specify SMTP Configurations
WP_SMTP_HOST=mail.example.com  # Host
WP_SMTP_USERNAME=example       # Username
WP_SMTP_PASSWORD=secure123     # Password

# Optional SMTP variables
#WP_SMTP_PORT=587                      # Port
#WP_SMTP_PROTOCOL=tls                  # Protocol
#WP_SMTP_TIMEOUT=10                    # Timeout
#WP_SMTP_FORCEFROM=example@example.com # Force From Email
#WP_SMTP_FORCEFROMNAME=Example         # Force From Name


# Hot module reload enabled? This should be turned off in production.
HMR_ENABLED=true
# Endpoint where the bundler serve your assets
HMR_ENTRYPOINT=http://localhost:5173
# Enable the Experimental Router for Laravel Routing
ACORN_ENABLE_EXPIRIMENTAL_ROUTER=true



# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
