@import './header-vertical.scss';

/**
 * Header
 */

.hero-header {
  position: absolute;
  width: 100%;
  top: 0;
}

.brand {
  font-weight: bold;
}

.navbar-brand {
  width: 280px;
  overflow: hidden;

  img {
    position: relative;
    left: 0;
    transition: ease-out 0.3s;
  }

  .logo {
    opacity: 0;
  }

  &:hover {
    .iso {
      opacity: 0;
      left: -100%;
    }

    .logo {
      left: -50%;
      opacity: 1;
    }
  }
}

@keyframes exitGrow {
  from {
    transform: scale(0);
    transform: rotate(360deg);
  }
  to {
    transform: scale(1);
    transform: rotate(0deg);
  }
}
